@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('https://www.publicdomainpictures.net/pictures/230000/nahled/light-blue-background.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1 {
  letter-spacing: 1px;
  /* margin: 0; */
}
.graphs-container {
  display: flex;
  margin-left: 10%;
  gap: 1%; /* Adjust the space between the boxes */
  display: flex;
  flex-direction: row;
}
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: -8px;
  gap: 30%; /* Adjust the space between the boxes */
  display: flex;
  flex-direction: row;
}
.left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.right {
  width: 70%;
}
.box {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--box-shadow);
}
.pie-chart {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--box-shadow);
}
.view-button {
  background-color: white;
  color: 666666;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border: white;
  border-radius: 20px;
  cursor: pointer;
}
.active {
  background-color: #164f92;
  outline-color: transparent;
  outline-style: solid;
  color: white;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border: #164f92;
  border-radius: 20px;
}
.heading {
  color: #164f92;
  text-align: center;
  font-size: 20px;
}
.line-chart {
  width: 77.5%;
  height: 100%;
  padding: 10px;
  padding-left: 20px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--box-shadow);
}
.assets-container {
  margin-left: 10%;
  margin-top: 20px;
}

.assets {
  width: 85%;
  height: 60px;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  padding-left: 20px;
  color: rgb(31, 43, 109);
  justify-content: left; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.assets:hover {
  width: 86%;
  height: 65px;
  background-color: rgb(179, 209, 228);
}

.card-container {
  margin-left: 5%;
  margin-top: 20px;
}

/* card for the Stock Respository page */
.card {
  width: 85%;
  height: 60px;
  background-color: white;
  display: flex;
  padding-left: 20px;
  color: rgb(31, 43, 109);
  justify-content: left; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}

.card.expanded {
  margin-bottom: 0px;
}

.cardExpand {
  width: 85%;
  background-color: rgb(216, 215, 215);
  display: grid;
  padding-left: 20px;
  padding-bottom: 10px;
  color: rgb(31, 43, 109);
  justify-content: left; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
}

.stock-repository-table {
  margin: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.stock-repository-table-head-row,
.stock-repository-table-head-cell,
.stock-repository-table-body-row,
.stock-repository-table-body-cell {
  border: 2px solid black;
}

/* .cardExpand p:first-child {
  margin-top: 0px;
} */

.profile-information {
  margin: 5%;
}

.navbaricon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

#duck-ui {
  height: 100%;
  width: 100%;
  transition: transform 0.7s ease-in-out;
}

#duck-ui:hover {
  transform: rotate(360deg);
  content: url("https://www.comp.nus.edu.sg/stfphotos/shashank.jpg");
}

.welcome-info {
  margin-left: 5%;
  margin-right: 14.2%;
  margin-top: 20px;
}

#header-img {
  width: 100%;
  height: 145px;
}

/* NavBar.vue related */

.navbar {
  width: 60px; /* Default, collapsed width */
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Ensure content does not cause horizontal scrollbar */
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
  display: inline-block;
  transition: width 0.5s; /* Smooth transition for expanding and collapsing */
}

.navbar:hover {
  width: 15%; /* Width on hover */
}

.left-nav ul {
  list-style-type: none;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}

.left-nav ul li {
  padding: 10px 15px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.left-nav ul li:hover {
  background-color: rgb(154, 190, 231);
  color: white;
}

/* Initial state of the content, matching the collapsed navbar width */
.content {
  margin-left: 60px; /* Initial margin to match the collapsed navbar width */
  transition: margin-left 0.5s; /* Smooth transition for the margin change */
}

.signOutBtn {
  position: fixed;
  font-size: 13px;
  bottom: 0;
  left: 0;
  /* width: 45px; */
  margin: 5px;  
  padding: 2px;
  text-align: middle;
  border: none;
  background-color: lightblue;
  color: black;
}

.signOutBtn:hover{
  background-color: #164F92;
  color: white;
}

/* When the navbar is hovered over, adjust content margin to match the expanded navbar */
.navbar:hover + .content {
  margin-left: 15%; /* Adjusted margin to match the expanded navbar width */
}

/* Modal related */

.modal {
  position: fixed; /* Use fixed positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  width: 60%;
  max-width: 600px; /* Optional: max-width for larger screens */
  background-color: white;
  padding: 20px;
  border: 1px none #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for better visibility */
  z-index: 1000; /* Ensure it sits above other content */
}

.modal-investment {
  position: fixed; /* Use fixed positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  width: 60%;
  max-width: 300px; /* Optional: max-width for larger screens */
  background-color: white;
  padding: 20px;
  border: 1px none #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for better visibility */
  z-index: 1000; /* Ensure it sits above other content */
  border-radius: 5px;
}

/* Style for the background overlay (optional) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  z-index: 999; /* Below the modal but above other content */
  backdrop-filter: blur(5px); /* blur effect */
  display: none; /* Hide by default */
}

.modal-overlay.active {
  display: block; /* Show the overlay when active */
}

.modal-content h1 {
  color: darkblue;
}

.close {
  float: right;
}
.welcome-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3%;  
  margin-bottom: 10px;
}

.investment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectInvestment {
  width: 180px;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  color: gray;
  text-align: center;
  margin-top: 5px;
  border: 1px solid rgba(102, 102, 102, 0.35);
}

.buttonBg {
  border: none;
  color: gray;
  background-color: transparent;
}

.buttonBgFit {
  border: none;
  background-color: transparent;
  width: 25px;
  color: rgba(102, 102, 102, 0.9);
}

.buttonBgFit:hover {
  transform: scale(1.3);
}

.buttonBgPlus {
  border: none;
  background-color: transparent;
  width: 25px;
  color: black;
  margin-top: 25px;
}

.buttonBgPlus:hover {
  transform: scale(1.3);
}

.forms {
  display: flex;
  flex-direction: column;
}

.endButton {
  display: flex;
  width: fit-content;
  justify-items: end;
}

.addInvestment {
  color: #164f92;
  font-size: large;
  font-weight: bold;
}

.investmentType {
  margin-top: 20px;
}

.investments {
  width: 180px;
  border-radius: 7px;
  padding: 3px;
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 5px;
  display: flex;
  align-content: center;
}

.investments:hover {
  transform: scale(1.05);
  background-color: rgb(154, 190, 231);
}

.selectButtons {
  width: 180px;
  border-radius: 7px;
  padding: 5px;
  background-color: white;
  color: gray;
  display: flex;
  align-content: center;
  margin-top: 5px;
  border: 1px solid rgba(102, 102, 102, 0.35);
}

.selectInputs {
  width: 180px;
  border-radius: 7px;
  padding: 7px;
  background-color: white;
  color: gray;
  margin-top: 5px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  line-height: 0.8;
}

.whiteButton {
  color: white;
  background-color: transparent;
  border: none;
}

.nextButton {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: #164f92;
  margin-top: 40px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

.nextButton:hover {
  transform: scale(1.1);
}

.formDiv {
  margin-top: 20px;
}

.inputDiv {
  margin-top: 20px;
}

.selectInvestmentAdjusted {
  width: 260px;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  color: gray;
  margin-top: 5px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  display: flex;
  align-content: center;
}

.selectInvestmentAdjusted:hover {
  transform: scale(1.05);
}

.investmentsAdjusted {
  width: 260px;
  border-radius: 7px;
  padding: 3px;
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 5px;
  display: flex;
  align-content: center;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally in the container */
  justify-content: center; /* Centers items vertically in the container */
  height: 100vh; /* Full height of the viewport */
  text-align: center; /* Centers the text inside the div */
}

.continueWithBtn {
  background-color: white;
  border-radius: 5px;
  border: solid 1px rgb(207, 205, 205);
  margin-top:-10px;
  padding: 10px;
  font-size: 15px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
}
.existingUserBtn {
  margin-top:-10px;
  font-size: 15px;
  cursor: pointer;
  border: None;
  background-color: #f7f7f7;
}

#existingtext {
  margin-top:-10px;

}

.continueWithBtn:hover {
  background-color: #ebf2f8;
}

.continueWithBtn:active {
  transform: scale(0.95);
}

#nextBtn {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  margin: 15px;
}

.inputBox {
  width: 350px;
  border-radius: 5px;
  border: solid 1px rgb(169, 168, 168);
  padding: 10px;
  margin: 5px;
}
#signup{
  margin-bottom:20px;
}

#existing{
  margin-bottom:10px;
}
.text-container{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.divider-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.or {
  padding: 18px; /* Adjust the padding as needed */
  color: grey; /* Adjust the color as needed */
  font-weight: bold; /* Optional */
}
.investmentsAdjusted:hover {
  transform: scale(1.05);
  background-color: rgb(154, 190, 231);
}